// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// Large devices (desktops, 992px and up)
@media (max-width: 1024px) {
    .cliente_worp {
        .slider_main {
            .slider_item {
                .slider_prag {
                    &::before {
                        left: 49%;
                        top: -16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 920px;
    }
    .manu_sidebar {
        width: 0;
        border: 0;
    }
    .banner_worp.main {
        width: 100%;
        margin-left: 0px;
    }
    footer {
        display: none;
    }
    .about_worp {
        .about_cv {
            .progress_bar {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 823px) {
    .banner_worp.main {
        .banner {
            .scroll_down {
                display: none;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .banner_worp.main {
        width: 100%;
        margin-left: 0px;
        .banner {
            .scroll_down {
                display: block;
            }
        }
    }
    .manu_sidebar {
        width: 0;
        border: 0;
    }
    footer {
        display: none;
    }
    .about_worp {
        .about_cv {
            .about_pra {
                font-size: 14px;
            }
        }
        .progress_bar {
            margin-bottom: 10px;
        }
    }
    .priching_worp {
        .priching {
            .recomment {
                font-size: 12px;
                top: 41px;
            }
        }
    }
    .container {
        max-width: 920px;
    }
    .button {
        .btn {
            font-size: 13px;
        }
    }
    .srvice_worp {
        .sarvice_item {
            .sarvic_pra {
                font-size: 14px;
            }
        }
    }
    .cliente_worp {
        .slider_main {
            .slider_item {
                .slider_prag {
                    &::before {
                        left: 49%;
                        top: -16px;
                    }
                }
            }
        }
    }
    .upicon {
        .up_iconFixd {
            bottom: 15px;
            right: 15px;
        }
    }
}

@media (max-width: 736px) {
    .container {
        max-width: 540px;
    }
    .banner_worp.main {
        width: 100%;
        margin-left: 0px;
        .banner {
            .scroll_down {
                display: none;
            }
        }
    }
    .srvice_worp {
        .sarvice_item {
            margin-bottom: 30px;
        }
    }
    .exprience_worp {
        .sarvice_item {
            margin-bottom: 30px;
        }
    }
    .priching_worp {
        margin-bottom: 30px;
        .castom_col {
            padding: 15px;
        }
        .priching_meddil {
            transform: scale(1);
        }
    }
    .cliente_worp {
        margin-top: 100px;
        .slider_main {
            .slider_item {
                .slider_prag {
                    position: relative;
                    width: 460px;
                    &::before {
                        left: 49%;
                        top: -16px;
                    }
                }
            }
        }
    }
    .latest_worp {
        .thumbnail {
            margin-bottom: 30px;
        }
    }
    .about_worp {
        .about_poto {
            margin-bottom: 30px;
            text-align: center;
            margin-left: 0;
        }
        .about_cv {
            &::before {
                left: 48%;
                top: -16px;
                transform: rotate(90deg);
            }
        }
    }
    .recent_worp {
        .filter_main {
            .filter_manu {
                .filter_list {
                    font-size: 14px;
                    font-weight: 600;
                    margin-right: 20px;
                    padding: 6px 18px;
                }
            }
        }
    }
}

@media (max-width: 667px) {
    .recent_worp {
        .filter_main {
            .filter_manu {
                .filter_list {
                    font-size: 14px;
                    font-weight: 600;
                    margin-right: 10px;
                    padding: 5px 19px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .recent_worp {
        .filter_main {
            .filter_manu {
                .filter_list {
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 18px;
                    margin-right: 10px;
                }
            }
        }
    }
    .banner_worp.main {
        .svg4 {
            left: 377px;
        }
    }
    .recent_worp {
        .filter_main {
            .filter_manu {
                display: block;
                text-align: center;
                .filter_list {
                    margin: 10px 0;
                }
            }
        }
    }
    .cliente_worp {
        .slider_main {
            .slider_item {
                .slider_prag {
                    max-width: 360px;
                }
            }
        }
    }
    .banner_worp.main {
        .banner {
            .svg9 {
                right: 100px;
            }
        }
    }
    .banner_worp.main {
        .banner {
            .svg5 {
                left: 174px;
            }
            .svg4 {
                left: 300px;
            }
        }
    }
}

@media (max-width: 420px) {
    .banner_worp {
        .banner {
            .scroll_down {
                display: block;
            }
            .svg5 {
                left: 25px;
            }
            .svg2 {
                right: 60px;
            }
            .svg4 {
                left: 77px;
            }
        }
    }
    .about_worp {
        .about_poto {
            margin-bottom: 30px;
            text-align: center;
            margin-left: 0;
        }
        .about_cv {
            &::before {
                left: 48%;
                top: -16px;
                transform: rotate(90deg);
            }
        }
    }
    .srvice_worp {
        .sarvice_item {
            margin-bottom: 30px;
        }
    }
    .exprience_worp {
        .acadmi_hed {
            margin-bottom: 30px;
        }
    }
    .recent_worp {
        .filter_main {
            .filter_manu {
                display: block;
                .filter_list {
                    text-align: center;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
    .priching_worp {
        .castom_col {
            padding: 15px;
        }
        .priching_meddil {
            transform: scale(1);
        }
    }
    .cliente_worp {
        .slider_main {
            .slider_item {
                .slider_prag {
                    width: 300px;
                }
            }
        }
    }
    .latest_worp {
        .thumbnail {
            margin-bottom: 30px;
        }
    }
    .upicon {
        .up_iconFixd {
            bottom: 10px;
            right: 10px;
        }
    }
}

@media (max-width: 320px) {
    .upicon {
        .up_iconFixd {
            bottom: 5px;
            right: 5px;
        }
    }
    .about_worp {
        .about_cv {
            .progress_bar {
                .progress {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .cliente_worp {
        .slider_main {
            .slider_item {
                .slider_prag {
                    position: relative;
                    width: 250px;
                }
            }
        }
    }
}